doctype html
html
    head
        title Index Page
        meta(charset='utf-8')
    body
        .page-header
            hl#page-title Index Title
            ul 
                li 
                    a(href='/board') Board
                li 
                    a(href='/article/compose') Compose New Article
        .page-body
            | Page body
            | Hello, world!